
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testlayer.CreateAccount_test"/>
    </classes>
    </test>
   <test thread-count="5" name ="Test"> 
    <classes>
      <class name="testlayer.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
